@import '../../../../styles/settings';

.homePage {

    @include displayFlex(
        flex-start,
        flex-start,
        column,
        none,
        1em
    );

    h1 {
        font-size: 1.6em;
        font-weight: 600;
    }

    &__curses {
        width: 100%;

        @include displayFlex(
            flex-start,
            flex-start,
            column,
            none,
            1em
        );
    }

}