@import '../../../../styles/settings';

.coursesPage {

    @include displayFlex(
        flex-start,
        center,
        column,
        none,
        1em
    );

    h1 {
        font-size: 1.6em;
        font-weight: 600;
    }

    &__sectionCourses {
        width: 100%;

        @include displayFlex(
            flex-start,
            center,
            none,
            wrap,
            1.5em
        );
    }
}