.instructorPage {

    @include displayFlex(
        flex-start,
        center,
        none,
        none,
        3em
    );

    &__firstSection {
        width: 80%;

        @include displayFlex(
            flex-start,
            center,
            column,
            none,
            2em
        );

        &__intro {

            width: 100%;

            h2 {
                font-size: 1.6em;
                font-weight: 600;
            }

            p {
                font-size: 1em;
                
                span {
                    color: $color3;
                    font-weight: 700;
                }
            }

        }
    }

    &__secondSection {
        width: 35%;
    }
    
}